body, html {
  font-family: sans-serif;
  background: #d1d1d1;  
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
}

thead th {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
  background-color: #fa4251;
  padding: 24px;
}

tbody td  {
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  padding: 18px;
}

